body {
  background-color: #223;
}

.active {
  background-color: #99a !important;
}

#stop-button {
  margin-left: 15px;
}

#display-position {
  color: white;
  text-align: right;
}

#pattern {
  position: absolute;
  border: solid 1px white;
  border-radius: 5px;
  padding: 1em;
  color: #fff;
}

#pattern div {
  text-align: center;
}

#pattern.active {
  background-color: #fff;
  color: white;
}
